body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: wheat;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 5px;
    background: #f2f2f2;
    margin: 5px 0;
}
button {
    cursor: pointer;
}
#kozep{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

#kozep2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

