.parcella {
    position: relative;
    width: 1000px;  /* A parcella szélessége */
    height: 800px;  /* A parcella magassága */
    border: 1px solid #000;
  }
  
  .noveny {
    position: absolute;
    width: 50px;  /* Növények szélessége */
    height: 50px;  /* Növények magassága */
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 5px;
  }