
/*Hover effekt az ikonokra, hogy kiírja a tulajdonságait (név, fajta, sor- tőtáv)*/
/*Színek:
    #123524
    #3E7B27
    #85A947
    #EFE3C2



Tooltip-ek: Ha az egér egy elem fölé kerül, megjelenhet egy kis magyarázó szöveg.
Élő előnézet: Amikor a felhasználó módosítja a parcella számát, egy kis vizuális előnézet mutathatná, hogy hány parcella lesz létrehozva.
Gomb effekt: A "Küldés" gomb nyomásakor egy kis animáció vagy színváltozás jelezhetné a visszajelzést.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');




body {
    font-family: 'Poppins';
    font-weight: lighter;

    background-color:  #EFE3C2;
    /* background-image: url('hatter.png');*/
    
    background-image: url('vine.png'), url('vine2.png');
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-size: 5%;
    overflow-y: auto;

    




}

#top{
    background-color: #123524;
    width: 100%;
    height: 80px;
    border-bottom: #3E7B27 15px solid;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.3);
    margin-bottom: 100px;
    position: fixed;
    top: 0;

}

#footer{
    background-color: #123524;
    width: 100%;
    height: 80px;
    border-top: #3E7B27 15px solid;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.3);
}

#oldalnev{
    color: rgb(243, 233, 233);
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1.5px;
}


h1{
    padding: 10px;
    margin: 10px;

}


ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 5px;
    background: #f2f2f2;
    margin: 5px 0;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -45%); }
    to { opacity: 1; transform: translate(-50%, -50%); }
}

#kozep{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#85A947;
    border: #3E7B27 15px solid;
    padding: 30px;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.55);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: fadeIn 0.8s ease-in-out;
}

#kozep2{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    border: #3E7B27 15px solid;
    background-color: #85A947;
    padding: 30px;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.55);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: fadeIn 0.8s ease-in-out;
}

#kozep3{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    border: #3E7B27 15px solid;
    background-color: #85A947;
    padding: 30px;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.55);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: fadeIn 0.8s ease-in-out;
    max-width: 70%;
    flex-wrap: wrap;
}

#kozep4{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    border: #3E7B27 15px solid;
    background-color: #85A947;
    padding: 30px;
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.55);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: fadeIn 0.8s ease-in-out;
    max-width: 70%;
    flex-wrap: wrap;
    z-index: -1;

}

.gomb{
    width: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #123524;
    color: #EFE3C2;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.3s;
    box-shadow: 0 9px #999;
}

.gomb:hover{
    background-color: #3E7B27;
    color: #EFE3C2;
    transition: 0.3s;
    z-index: 9999;
   
}




.gomb::after {
    content: attr(data-info); /* A gomb "data-info" attribútumának tartalmát használja */
    position: absolute;
    left: 100%; /* A gomb mellett jelenik meg */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear 1s;
    z-index: 9999;
   /* transition: opacity 0.5s linear 1s, visibility 0 linear 0;*/
    pointer-events: none; /* Ne akadályozza a kattintást: none*/
}

.gomb:hover::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    z-index: 9999

}


.gomb.active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}



button:hover{
    background-color: rgb(17, 87, 17);
    color: rgb(231, 223, 223);
    transform: scale(1.05);
    
}

#kuldes1, #kuldes2, #kuldes3{
    cursor: pointer;
    background-color: #123524;
    color: white;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin: 10px;
}

#kuldes1:hover, #kuldes2:hover, #kuldes3:hover{
    background-color: rgb(17, 87, 17);
    color: rgb(231, 223, 223);
    transform: scale(1.05);
    
}



input[type=number]{
    background-color: #a7cc66;
    margin-left: 10px;
    border: 0.5px solid #123524;
    border-radius: 6px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


input[type=number]:active, input[type=number]:focus{
    outline: none;
}


#footer{
    background-color: #123524;
    width: 100%;
    height: 35px;
    border-top: #3E7B27 5px solid;
    box-shadow: 10px -10px 26px -1px rgba(0, 0, 0, 0.226);
    position: fixed;
    bottom: 0;
}

#footer p {
    color: wheat;
    font-size: 9pt;
    text-align: center;
    margin-top: 8px;
}

img{
    image-rendering: pixelated;

}